<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="static/react.js"></script>
    <script src="static/JSXTransformer.js"></script>
    <script src="static/react-bootstrap.js"></script>
    <script type="text/jsx" src="/static/app.jsx"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        app{margin:0;padding:0}
        #app{width:800px; margin:auto}
        savebutton{margin:0;padding:0}
        #savebutton{width:800px; margin:auto}
    </style>
    <title></title>
</head>
<body>
<div id="app"></div>
</body>
</html>